
.break_timer_container{
    min-height:60% ;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    backdrop-filter: blur(7px);
}

.break_timer_container h1{
    background-color: rgb(221,214,254);
    padding: 20px;
    border-radius: 50px;
    color: black;
    font-family: Arial, sans-serif;
    font-weight: 100;
}

.time_container{
    font-size: 3.5rem;
    font-weight: 700;
    color: white;
}