.counter_container{
    height: 100%;
    width: 100%;
    background-image: url(https://unchannel.org/images/blog/unchannel-pomodoro-technique-indeed-jobs.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Logout_container{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 20px;
    backdrop-filter: blur(7px);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.Logout_container button{
    height: 70%;
    width: 20%;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}